<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-black " style="font-size: 14px;">
    <div class="w3-row-padding">
      <br>
      <br>
      <br>
      <!-- Mapa do Site -->
      <div class="w3-third " style="text-align: left;">
        <h3>Mapa do Site</h3>
        <p><a href="/inicio/" style="text-decoration: none; color: white;">Página Inicial</a></p>
        <p><a href="/catalogo/" style="text-decoration: none; color: white;">Catálogo de Serviços</a></p>
        <p><a href="/inicio/emdesenvolvimento.html" style="text-decoration: none; color: white;">Sobre o Portal CCC</a></p>
        <p><a href="/unidades/" style="text-decoration: none; color: white;">Unidades CCC</a></p>
      </div>
  
      <!-- Institucional -->
      <div class="w3-third" style="text-align: left;">
        <h3>Institucional</h3>
        <p><a href="https://www.mg.gov.br/planejamento/pagina/logistica/projeto-ccc" style="text-decoration: none; color: white;">Projeto CCC</a></p>
        <p><a href="https://compras.mg.gov.br/agente-publico/planejamento-de-compras-central-de-compras-csc/" style="text-decoration: none; color: white;">Planejamento 2024</a></p>
        <p><a href="https://www.mg.gov.br/planejamento/pagina/geral/quem-e-quem" style="text-decoration: none; color: white;">Quem é quem</a></p>
        <p><a href="/inicio/emdesenvolvimento.html" style="text-decoration: none; color: white;">Política de Privacidade</a></p>
      </div>
  
      <!-- Fale Conosco -->
      <div class="w3-third" style="text-align: left;">
        <h3>Fale Conosco</h3>
        <p><b>SEPLAG MG &copy; 2024 </b> <br>
          Subsecretaria de Compras Públicas – SUBCOMP<br><br>
          <i class="fa fa-map-marker fa-fw"></i> Rodovia Papa João Paulo II, 4143, Bairro Serra Verde, 
          Belo Horizonte - Minas Gerais.</p>
          <p><i class="fa fa-envelope fa-fw"></i> planejamentodecompras@planejamento.mg.gov.br</p>             
        
        
          <p> <button onclick="window.location.href='https://forms.office.com/r/fGQWrtTTaP'" style="background-color: transparent; border: none; cursor: pointer; color: #007bff;">
          <i class="fa fa-bug"></i> Reportar bug
      </button><br>
      <button onclick="window.location.href='https://forms.office.com/r/fGQWrtTTaP'" style="background-color: transparent; border: none; cursor: pointer; color: #007bff;">
          <i class="fa fa-pencil-square-o"></i> Solicitar inclusão ou revisão de conteúdo
      </button><br>
      <button onclick="window.location.href='https://forms.office.com/r/fGQWrtTTaP'" style="background-color: transparent; border: none; cursor: pointer; color: #007bff;">
          <i class="fa fa-envelope"></i> Fale conosco
      </button><br></p>
      </div>
  
    </div>
    
    <p class="w3-medium"><b>P O R T A L</b> C C C </p>
  </footer>